{% if content == nil %}
{% assign content = post.content %}
{% endif %}

<article itemscope itemtype="http://schema.org/BlogPosting" class="post hentry">
	<header>
		<h1 class="entry-title">
		<a href="{{ site.url }}{{ post.url }}" rel="bookmark"><span itemprop="name">{{ post.title }}</span></a>
		</h1>
        <hr>
        <p>
		<abbr itemprop="datePublished" content="{{ post.date | date_to_string }}" class="published updated" title="{{ post.date | date_to_xmlschema }}">
			{{ post.date | date_to_string }}
		</abbr>
		<address class="vcard author">
            <span class="fn">
                <a href="https://plus.google.com/101522065855804710234?rel=author">
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span itemprop="name">
                            {{ post.author }}
                        </span>
                    </span>
                </a>
            </span>
        </address>
        </p>
        <hr>
	</header>
	
	<section itemprop="articleBody" class="entry-content">
        <img itemprop="image" src="/images/{{ post.feature-image }}" class="img-responsive">
        <hr>
        {{ content }}
    </section>

	<footer class="end-of-post" style="padding-top: 20px;">
                <g:plusone size="medium" href="{{ site.url }}{{ post.url }}"></g:plusone>
                <a href="https://twitter.com/share" class="twitter-share-button"
			data-url="{{ site.url }}{{ post.url }}"
			data-text="{% if post.tweet-text %}{{ post.tweet-text }}{% else %}{{ post.title }}{% endif %}">
                        Tweet
                </a>
                <div class="fb-like" data-href="{{ site.url }}{{ post.url }}"
                     data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">

                </div>
                <span class="entry-tags" style="padding-top: 20px; padding-bottom: 20px;">
			{% for tag in post.tags %}
			<a href="/tag#{{ tag }}" rel="tag"><span class="label label-primary">{{ tag }}</span></a>
			{% endfor %}
		</span>
	</footer>
</article>

<meta itemprop="url" content="{{ site.url }}{{ post.url }}">

