<div class="sidebar">
  
  <div class="container sidebar-sticky">
    <div class="circular"></div>
    <div class="sidebar-about" style="text-align: center;">
            
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav" style="width: 50%; margin-left: auto; margin-right: auto; text-align: center;">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" >
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

            
      
    </ul>

    <ul class="soc" style="margin-left: auto; margin-right: auto; text-align: center;">
      {% if site.footer-links.github %}<li><a title="github" class="soc-github" target="_blank" href="http://github.com/{{ site.footer-links.github }}"></a></li>{% endif %}
      {% if site.footer-links.twitter %}<li><a title="twitter" class="soc-twitter" target="_blank" href="http://twitter.com/{{ site.footer-links.twitter }}"></a></li>{% endif %}
      {% if site.footer-links.gplus %}<li><a title="google" class="soc-google" target="_blank" href="http://google.com/+{{ site.footer-links.gplus }}"></a></li>{% endif %}
      {% if site.footer-links.linkedin %}<li><a title="linkedin" class="soc-linkedin soc-icon-last" target="_blank" href="http://linkedin.com/in/{{ site.footer-links.linkedin }}"></a></li>{% endif %}
  </ul>

  </div>
</div>
