---
layout: default
---
{% assign post = page %}
<div class="hfeed">
    {% include post-article.html %}    
</div>


{% if site.related_posts.size > 0 %}
<aside>
	<h3>Related posts</h3>
	<ul class="posts-list hfeed">
		{% for post in site.related_posts %}
		{% include post-list-item.html %}
		{% endfor %}
	</ul>
    <!-- Place this tag where you want the widget to render.
    <div class="g-person" data-width="250" data-href="//plus.google.com/u/0/101522065855804710234" data-rel="author"></div> -->
</aside>
{% endif %}

{% include disqus.html %}
